.tabs__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 71px;
    background-color: white;
    border-bottom: 2px solid rgb(239, 239, 239);
}

.tabsItem {
    position: relative;
    top: 5px;
    min-width: 100px;
    height: 100%;
    padding: 20px;
    text-align: center;
    text-transform: capitalize;
    border: none;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0);
}

.sortItem {
    position: relative;
    top: 5px;
    min-width: 100px;
    height: 80%;
    text-align: center;
    text-transform: capitalize;
    border: none;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0);
}

.active-tab {
    border-bottom: 2px solid rgb(100, 100, 100);
}

.tabsItem:hover {
    color: #AA5DC0;
}